/*
  Google Fonts
  -------------
  font-family: 'Raleway Dots', cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Pacifico', cursive;
*/

body {
  font-family: 'Raleway', sans-serif;
  background-image: url("../img/paper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: white;
}

a {
  color: #129CF3;
  text-decoration: none;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}

a:hover, a:focus {
  color: #8be0b9;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}

header {
  background-color: black;
  color: white;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 2;
}

header nav span.about-me a {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-left: 75px;
}

header nav span.resources a {
  margin-left: 15px;
  margin-right: 15px;
  float: right;
  position: relative;
  top: 17px;
  font-size: 17px;
}

header nav span.resources a:nth-child(1) {
  margin-right: 75px;
}

main div.profile-pic {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 60px;
}

main div.profile-pic img {
  border-radius: 50%;
  box-shadow: 10px 10px 5px grey;
  width: 400px;
}

main div.introduction h2 {
  margin-top: 70px;
  font-family: 'Bungee Shade', cursive;
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
}

section {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Permanent Marker', cursive;
}

section h2, section h3, section p {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

section h2 {
  font-size: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 4px solid black;
}

section h3 {
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

section.top-ten ol {
  padding-inline-start: 32%;
  font-size: 22px;
}

section.top-ten, section.games {
  margin-bottom: 60px;
  width: 600px;
}

section.games ol {
  padding-inline-start: 19%;
  font-size: 22px;
}

section.games ol li:nth-child(1) {
  margin-top: 5px;
}

section.games ol li:nth-child(2) {
  margin-bottom: 15px;
}

section.games ul li {
  list-style-type: none;
  font-size: 18px;
}

section.score {
  margin-bottom: 115px;
  font-size: 32px;
}

footer {
  padding: 15px;
  background-color: black;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}

footer span.date {
  font-size: 10px;
}

footer span:nth-child(2) {
  font-family: 'Pacifico', cursive;
  margin-right: 75px;
}
